<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.title %}
        <title>{{ page.title }} | {{ site.name }}</title>{% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <link rel="apple-touch-icon" href="{{ site.logo }}"/>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {% seo %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177214547-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177214547-1');
    </script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f51505ca2d54400112ddf11&product=inline-share-buttons" async="async"></script>

  </head>
  <body>
    <div class="wrapper">
        {% include header.html %}        
        <div class="content{% if page.layout == 'post' %} post{% endif %}">
          {% if page.title %}
          <h2 class="content-title">{{ page.title }}</h2>
          {% endif %}
          {{ content }}
        </div>
      </div>
  </body>
</html>